[project]
	description = A firefox addon that expands the searchbar as you type.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Kevin Cox (kevincox)
[access "refs/for/refs/*"]
	read = group user/Kevin Cox (kevincox)
	push = group user/Kevin Cox (kevincox)
	label-Code-Review = -2..+2 group user/Kevin Cox (kevincox)
	label-Verified = -1..+1 group user/Kevin Cox (kevincox)
	rebase = group user/Kevin Cox (kevincox)
	removeReviewer = group user/Kevin Cox (kevincox)
	submit = group user/Kevin Cox (kevincox)
[access "refs/heads/*"]
	read = group user/Kevin Cox (kevincox)
	create = group user/Kevin Cox (kevincox)
	push = +force group user/Kevin Cox (kevincox)
	pushMerge = group user/Kevin Cox (kevincox)
[access "refs/tags/*"]
	push = +force group user/Kevin Cox (kevincox)
	pushTag = group user/Kevin Cox (kevincox)
	pushSignedTag = group user/Kevin Cox (kevincox)
