.autosizer-grippy {
	 display:none;
	padding:0px;
	border:4px solid #F00;
	opacity:0.6;
	background:transparent;
	width:7px;
	margin: 2px 1px;
	cursor: w-resize;
	position: fixed !important;
}
.autosizer-grippy-left {
	border-right:0;
}
.autosizer-grippy-right {
	border-left:0;
}

.autosizer-grippy-flash1 {
	opacity:1 !important;
	background:transparent !important;
	border-color:#F00 !important;
}
.autosizer-grippy-flash2 {
	opacity:1 !important;
	background:transparent !important;
	border-color:#000 !important;
}
/*.autosizer-grippy[hidden=true] {
 display:none !important;
}*/
#urlbar-search-splitter {
	display:none !important;
}
#autosizer-button {
	list-style-image:url("chrome://autosizer/skin/btn20.png");
}
toolbar[iconsize="small"] #autosizer-button {
	list-style-image:url("chrome://autosizer/skin/btn.png");
}
